<div id="donation-receipt-body">
	<h1>A hope2us agradece a sua doação.</h1>
	<h2>O seu número de doação: <%= @donation.id %></h2>

</div>
<p>Item: <%= @donation.item.name %></p>
<p>Quantidade: <%= @donation.amount %></p>
<p>Para finalizar a sua doação basta enviar
	o seu comprovante de compra, e informar a data de previsão para entrega.
</p>
<%= form_tag(receipt_donation_path(@donation.id), multipart: true, method: :put) do %>
	<%= label_tag :date_of_delivery, 'Data de entrega' %>
	<%= text_field_tag :date_of_delivery, nil, placeholder: 'DD/MM/AAAA', maxlength: 10 %><br>
	<%= label_tag :image, 'Escolha o arquivo:' %><br>
	<%= file_field_tag :image %> <br><br>
	<%= submit_tag 'Confirmar doação!' %><br>
<% end %>
