<div id="donations-body" class="page">
  <div class="panel panel-default">
    <div class="panel-heading">
      Comprovante da doação <%= "##{@donation.id}" %>
    </div>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>Item:</strong> <%= @donation.item.name %>
      </li>
      <li class="list-group-item">
        <strong>Quantidade:</strong> <%= @donation.amount %>
      </li>
    </ul>

    <div class="panel-body">
      <%= image_tag(@donation.image) %>
    </div>

    <div class="panel-footer">
      <%= link_to 'Voltar', confirmation_donations_path, class: 'btn btn-default' %>
    </div>
  </div>
</div>
