<h1>Olá <%= current_user.name %></h1>
<p>Itens: </p>
<% @donations.each do |donation| %>
  <p><%= donation.item.name %></p>
  <% if donation.image? %> 
		<%= link_to 'Ver comprovante', receipt_donation_path(donation.id)%>
	<% else %>
  	<%= link_to 'Enviar comprovante', edit_receipt_donation_donation_path(donation.id) %>
  	<%= link_to 'Cancelar doação', donation, :method => :delete %>
	<% end %> 
<% end %>