<div id="confirmation-body" class="page">
  <h1>Olá, <%= current_user.name %></h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      Não se esqueça de nos enviar o comprovante de cada doação:
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Quantidade</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @donations.each_with_index do |donation, index| %>
        <tr>
          <th><%= index + 1 %></th>
          <td><%= donation.item.name %></td>
          <td><%= donation.amount %></td>
          <td>
            <% if donation.pending_receipt?  %>
              <%= link_to(
                'Enviar comprovante',
                edit_receipt_donation_path(donation),
                class: 'btn btn-success'
              ) %>
              <%= link_to(
                'Cancelar doação',
                cancel_donation_path(donation),
                method: :post,
                class: 'btn btn-danger'
              ) %>
            <% elsif donation.waiting_approval? %>
              <%= link_to(
                'Ver comprovante',
                receipt_donation_path(donation),
                class: 'btn btn-primary'
              ) %>
            <% else %>
              <%= link_to(
                'Ver comprovante',
                receipt_donation_path(donation),
                class: 'btn btn-primary'
              ) %>
            <% end %>
          </td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <% unless flash[:errors].blank? %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <% unless flash[:warnings].blank? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <% flash[:warnings].each do |warning| %>
        <p><%= warning %></p>
      <% end %>
    </div>
  <% end %>
</div>
