<div id="confirmation-body" class="page">
  <h1>Lista de Equipamentos doados</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      Detalhes equipamentos
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Qt reservada</th>
          <th>Qt confirmada</th>
          <th>Qt disponível</th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <th><%= item.id %></th>
          <td><%= item.name %></td>
          <td><%= item.reserved %></td>
          <td><%= item.confirmed %></td>
          <td><%= item.amount %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% if flash[:errors] %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>
  <% if flash[:warnings] %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <% flash[:warnings].each do |warning| %>
        <p><%= warning %></p>
      <% end %>
    </div>
  <% end %>
  </div>