<div id="items-body" class="page">
  <h1>Lista de Equipamentos doados</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      Detalhes equipamentos
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Qt disponível</th>
          <th>Qt reservada</th>
          <th>Qt confirmada</th>
        </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <th><%= item.id %></th>
          <td><%= item.name %></td>
          <td><%= item.amount %></td>
          <td><%= item.reserved %></td>
          <td><%= item.confirmed %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
