<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado pela doação :)</h1>
    <p>
      Olá <%= @user.name %>
      Aguardamos o seu comprovante, para finalizar a doação
      só clicar no link <%= link_to 'Enviar comprovante', @url %>.
    </p>
    <strong>Itens doados:</strong>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.item.name %></td>
        <td><%= donation.item.amount %><td>
      </tr>
    </tbody>
    <% end %>
    <p>
      Caso tenhamos alguma dúvida, entraremos em contato pelo telefone
      <%= @user.phone %>  
    </p>
  </body>
</html>