<%= render 'shared/banner' %>

<div id="home-body" class='page'>
  <div class="message clearfix">
    <%= image_tag('home/peace_building.jpg') %>

    <div class="content">
      <h2>A Hope2us necessita da sua ajuda</h2>

      <p>
        Com alguns cliques você pode mudar nossa história.
        Nos ajude a manter e ampliar nosso espaço,
        ele é parte da nossa comunidade.
      </p>

      <%= link_to 'Faça sua doação',
          new_donation_path,
          class: 'btn btn-success' unless admin_user_signed_in? %>
    </div>
  </div>

  <div class="donations">
    <h1>Doações recentes</h1>

    <h2>Falta pouco! Doe você também!</h2>

    <div class="row">
      <% @donations.each do |donation| %>
        <div class="col-md-4">
          <div class="thumb">
            <%= donation.item.name %>
          </div>

          <p class="amount">
            Doado: <%= donation.item.confirmed %> /
            <span><%= donation.item.total_amount %></span>
          </p>

          <%= link_to 'Faça sua doação',
              new_donation_path,
              class: 'btn btn-success' unless admin_user_signed_in? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
