<div id="confirmation-body" class="page">
  <h1>Olá, <%= current_admin_user.email %></h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      Lista de doações
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Item</th>
          <th>Quantidade</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @donations.each_with_index do |donation, index| %>
        <tr>
          <th><%= donation.id %></th>
          <td><%= donation.item.name %></td>
          <td><%= donation.amount %></td>
          <% if donation.image? %>
            <td>
              <%= link_to('Ver Comprovante',
                admin_donation_path(donation.id),
                class: 'btn btn-danger') %>
            </td>
          <% else %>
            <td>-</td>
          <% end %>
          <td>
            <% if donation.approved? %>
              Aprovado
            <% else %>
              <%= donation.status %>
            <% end %>
          </td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <% if flash[:errors] %>
    <div class="alert alert-info alert-dismissible" role="alert">
      <% flash[:errors].each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <% if flash[:warnings] %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <% flash[:warnings].each do |warning| %>
        <p><%= warning %></p>
      <% end %>
    </div>
  <% end %>
</div>
